input[type="text"]{
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.btn-primary{
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color:white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #0056b3;
}